<div class="loading-overlay" *ngIf="show">
  <div class="loading-container">
    <div class="perspective-container">
      <div class="triangle-container-first">
        <div class="triangle"></div>
        <div class="triangle-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
      </div>
      
      <div class="triangle-container-second">
        <div class="triangle"></div>
        <div class="triangle-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
      </div>
       
      <div class="cube-container">
        <div class="cube"></div>
        <div class="cube-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
        <div class="absolute edge4"></div>
      </div>
      
      <div class="paralelogram-container">
        <div class="paralelogram-part p-first">
          <div class="triangle"></div>
          <div class="triangle-back absolute top-0"></div>
          <div class="absolute edge1"></div>
          <div class="absolute edge2"></div>
          <div class="absolute edge3"></div>
        </div>
        <div class="paralelogram-part absolute p-second">
          <div class="triangle"></div>
          <div class="triangle-back absolute top-0"></div>
          <div class="absolute edge1"></div>
          <div class="absolute edge2"></div>
          <div class="absolute edge3"></div>
        </div>
      </div>
       
      <div class="double-container">
        <div class="triangle"></div>
        <div class="triangle-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
      </div>     

      <div class="large-container-first">
        <div class="triangle"></div>
        <div class="triangle-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
      </div>

      <div class="large-container-second">
        <div class="triangle"></div>
        <div class="triangle-back absolute top-0"></div>
        <div class="absolute edge1"></div>
        <div class="absolute edge2"></div>
        <div class="absolute edge3"></div>
      </div>
    </div>
    
    <div class="loading-message">
      <p>{{ message }}</p>
    </div>
  </div>
</div>
